* {
    box-sizing: border-box;
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAdCAYAAADVV140AAABtElEQVR42sWYWQ6EIBBEOY37ev/DOSkTEpKSPBmJfhBHpZtHNw3lhKZpjmVZjn3fb7V1XY+u6w7ZjeN4tG17tmma0n6nzwvf6hdtZK8+8ie/OHbq+zb4tm3noOrf970Gyj93cD3Xez1Tf9nlnheBU8c0spgJ9ZnnWb911T1FNs0E8DC4Zh9hdLVoAIDscMI8Xjl4ugT8PQMI2AG4pUsHwSF6kMLSxktS7Rm4Zq+IxSgMw3AngqUZkl/5T8d7DB7vVWgxGvr9BJZ8VgG36MT9V+/+jH6aRfkzP/XA3TgWYGYA3Hlkn479ArjvPA6Rn6ztGG+Cc9p5eX0EzoUmQCjoL8B5L5YtnAG1wD21Jce92/vSKTn2U3sAd0Fl9yWRBwFHQsvur8DzAseLSwqvJrj85Yr7kiuC67j1AmLpKiePwGXvkpcLX7zB1lJhSqMNgzt0fgly7QQZZWZKszcwA+f3kOV85sMDfVED/F/dA+BwtNcAZynA4CViqiI4f3cyOOuL+uCsewCcxf0r4Mzg4PCJ9gI4f9IZOKyvt8H5f52gNEBFfwDOO1sA/UFOXDkyuPpDsFjX/AAaVQm/PXemlQAAAABJRU5ErkJggg==); 
    background-repeat: repeat;

    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
 
 }
 
.nameandlogo {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
 }
 
header {
    background-color: white;
    width: 100%;
    display: block;
    margin:0 auto;
    margin-bottom: 3rem;
    padding: 1rem 1rem 1rem 0;
    flex: none;
 }
 
header h1 {
    font-size: 35px;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline;
    padding: 15px;
 }
 
nav {
    float: right;
 }
 
nav li {
    position: relative;
    display: inline-block;
    list-style-type: none;
 }

.navigation {
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 3px 5px 3px 3px;
    border-right: 2px solid black;
}

.navigation:hover, .navigation:active {
    background-color: red;
    font-weight: bold;
}

section {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    
 }
 
.section {
    padding: 15px;
 }
 
section h1  {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    padding: 15px;
 }
 
section .section hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px royalblue;
 }
 
section .section img {
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 2rem;
 }
 
section .section p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2rem;
    text-indent: 3rem;
}

.one {
    height: 300px;
    width: 300px;
    float: left;
    padding: 0 50px 20px 0;
}

section .section .one .portfolio1 {
    width: 300px;
    height: 200px;
    position: relative;
    text-align: center;
    color: white;
    text-indent: 0em;
    z-index: 1;
}

section .section .one .text {
    position: absolute;
    background-color: #4aaaa5; 
    text-align: center;
    color: white;
    z-index: 2;
    top: 330px;
    width: 200px;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section .section .one .text1-2 {
    position: absolute;
    background-color: #4aaaa5; 
    text-align: center;
    color: white;
    z-index: 2;
    top: 330px;
    width: 200px;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} 

.two {
    height: 300px;
    width: 300px;
    float: left;
    padding: 0 50px 20px 0;
}

section .section .two .portfolio1 {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    text-indent: 0em;
    z-index: 1;
}

section .section .two .text2 {
    position: absolute;
    background-color: #4aaaa5; 
    text-align: center;
    color: white;
    text-indent: 0em;
    z-index: 2;
    top: 630px;
    width: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

section .section .two .text2-2 {
    position: absolute;
    background-color: #4aaaa5; 
    text-align: center;
    color: white;
    text-indent: 0em;
    z-index: 2;
    top: 630px;
    width: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} 

.breakline {
    clear: both;
}

.three {
    height: 300px;
    width: 300px;
    padding: 0 50px 20px 0;
}

section .section .three .portfolio1 {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    text-indent: 0em;
    z-index: 1;
}

section .section .three .text3 {
    position: absolute;
    background-color: #4aaaa5; 
    text-align: center;
    color: white;
    text-indent: 0em;
    z-index: 2;
    top: 930px;
    width: 200px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
} 

.one:hover, .two:hover, .three:hover {
    cursor: progress; 
}

.box form {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-left: 5px;
    line-height: 1.8rem;
}

.box input {
    width: 100%;
}

.box input[type=text]:focus {
    background-color: lightblue;
}

.box input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}

.box textarea {
    width: 100%; 
}

textarea[type="text"]:focus {
    background-color: lightblue;
}

.section-portfolio .box, .box {
    width: 650px;
    background-color: white;
    padding: 15px;
    float: left;
    margin-right: 20px;
}

.box {
    flex: 1 0 auto;
    margin-bottom: 50px;
}

.box h1 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    padding: 15px;
}

.box hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px royalblue;
}

aside {
   width: 220px;
   float: right;
   background-color: white;
   border: solid #dddddd;
}

aside hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px royalblue;
}

aside a {
    display: inline;
    margin: 0 auto;
    padding: 5px;
}

section aside .logo {
    width: 25%;
    height: 25%;
}

.logo:hover {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


footer {
    background-color: #666;
    width: 100%;
    height: 5%;
    border-top: 6px solid #4aaaa5;
    flex-shrink: 3;
    flex: 0;
}

footer p {
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: italic;
    font-size: .25cm;
}


@media screen and (max-width: 980px){

    section, .nameandlogo {
        width: 960px;
    }
    
    .box
    aside {
        width: 100%;
        height: auto;
    }

   
    section .section img {
        width: 100%;
        height: auto;
    }

    footer {
        width: 100%;
        background-color: #666;
        height: 5%;
        border-top: 6px solid #4aaaa5;
    }

    .one {
        width: 100%;
        height: auto;
    }
    
    .two {
        width: 100%;
        height: auto;
    }

    .three {
        width: 100%;
        height: auto;
    }

    section .section .one .portfolio1 {
        width: 100%;
        height: auto;
    }

    section .section .two .portfolio1 {
        width: 100%;
        height: auto;
    }

    section .section .three .portfolio1 {
        width: 100%;
        height: auto;
    }
    section .section .one .text {
        top: 500px;
        width: 400px;
    }

    section .section .one .text1-2 {
        top:930px;
        width: 400px;
    }

    section .section .two .text2 {
        top: 1330px;
        width: 400px;
    }

    section .section .two .text2-2 {
        top: 1760px;
        width: 400px;
    }

    section .section .three .text3 {
        top: 2190px;
        width: 400px;
    }

}

@media screen and (max-width: 768px) {

    body {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC); 
        background-repeat: repeat;
    }

    header .nameandlogo h1 {
        animation: pulse 5s 1;
    }

    @keyframes pulse {
        0% {
          color: firebrick;
        }
        100% {
          color: whitesmoke;
        }
    }

    section {
        width: 100%;
    }
    .box ,.nameandlogo  {
        width: 100%;
    }

    section .section img {
        width: 250px;
        height: 250px;
    }

    aside {
        width: 100%;
        clear: both;
    }

    section aside .logo {
        width: 10%;
        height: 10%;
    }

    .section-portfolio .box {
        width: 100%;
        height: auto;
    }

    footer {
        width: 100%;
        margin-top: 50px;
        background-color: #666;
        height: 5%;
        border-top: 6px solid #4aaaa5;
    }

    form {
        width: 100%;
        height: auto;
    }

    .one {
        height: 300px;
        width: 300px;
    }
    
    .two {
        height: 300px;
        width: 300px;
    }

    .three {
        height: 300px;
        width: 300px;
    }

    section .section .one .portfolio1 {
        width: 300px;
        height: auto;
    }

    section .section .two .portfolio1 {
        width: 300px;
        height: auto;
    }

    section .section .three .portfolio1 {
        width: 300px;
        height: auto;
    }
    section .section .one .text {
        top: 330px;
        width: 200px;
    }

    section .section .one .text1-2 {
        top: 330px;
        width: 200px;
    }

    section .section .two .text2 {
        top: 630px;
        width: 200px;
    }

    section .section .two .text2-2 {
        top: 630px;
        width: 200px;
    }

    section .section .three .text3 {
        top: 930px;
        width: 200px;
    }

}

@media screen and (max-width: 640px) {

    body {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAyCAMAAADyWtKhAAAAOVBMVEXu7u7////v7+/x8fHw8PD+/v79/f38/Pz29vb39/fy8vL09PTt7e319fX6+vr5+fn4+Pjz8/P7+/sjQsgnAAABrklEQVR4Xu2Wy2pkMQxET0ny+z77/z92EHRIM4RJejeLeGGMJbkKu1QYt0vVbajkJJWjTw+f/SiSBl40zKsuc5hVDzjVjEtlOB/DR9GFNZ3wUJ1wFmkRVQe0NoFYffQVwGwNDtVgSeUkgdh2acePAM9iZcghDidDG0mPetzgVdXwgJ6ZpeRcOoRjVdXhPipu4E1aYHBJOpeHr1PSBUbiNwdzDNtrbhvQpXbDtm1wN6kDxiXV3XJx1DzBCGMWtQDfx+4QTWVigSVaPS4kqS2IbpwqNySM6g530Yn1gNUkidLOFeCtExmjSypK/KwNenOwdbaCG7msurclLbyorlhVxcmN7VZdBphjZr4/pBJbz/iucm9sd9GedX2LIj12NzNi9uSXueNZEFjyGdvHlPz7jHfO/eQ7+ZIv85Nv3oP97B7eud/nu41/vtt4vttTDwPbYPylhwGbMZ56eNUZX+iMF5296nd+od/5ot93+uKtfrOXPj5VRvAxYhSdL31sBFcWDqUgEvvRZ6RKHkV6aiJhL+I1l+9y7cdeYv+pl/x6ya+X/HoJP/YSXv8afPPX+AONyic1BlYxVgAAAABJRU5ErkJggg==);
        background-repeat: repeat;
    }

    section {
        width: 100%;
    }
    
    
    .box {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .nameandlogo  {
        top: 0px;
        left:50%;
        transform:translateX(-50%);
        position: fixed;
        width:100%;
        max-width: 640px;
        z-index: 2;
        text-align: center;
        display: block;
        animation: pulse 5s infinite;  
    }

    @keyframes pulse {
        0% {
          background-color: orangered;
        }
        100% {
          background-color: grey;
        }
      }
      

    header h1 {
        background: none;
    }

    nav {
        clear: both;
        margin-top: 20px;
        width: inherit;
        display: block;
    }

    .navigation {
        color:tomato;
    }

    section .section img {
        width: 250px;
        height: 250px;
    }

    aside {
        width: 100%;
        clear: both;
    }

    section aside .logo {
        width: 10%;
        height: 10%;
    }

    footer {
        width: 100%;
        margin-top: 50px;
        background-color: #666;
        height: 5%;
        border-top: 6px solid #4aaaa5;
    }

    .one {
        width: 100%;
        height: auto;
    }
    
    .two {
        width: 100%;
        height: auto;
    }

    .three {
        width: 100%;
        height: auto;
    }

    section .section .one .portfolio1 {
        width: 100%;
        height: auto;
    }

    section .section .two .portfolio1 {
        width: 100%;
        height: auto;
    }

    section .section .three .portfolio1 {
        width: 100%;
        height: auto;
    }
    section .section .one .text {
        top: 330px;
        width: 400px;
    }

    section .section .one .text1-2 {
        top: 730px;
        width: 400px;
    }

    section .section .two .text2 {
        top: 1130px;
        width: 400px;
    }

    section .section .two .text2-2 {
        top: 1530px;
        width: 400px;
    }

    section .section .three .text3 {
        top: 1930px;
        width: 400px;
    }

}